@font-face {
    font-family: global;
    src: url("../assets/font/Poppins-Regular.ttf");
    src: url("../assets/font/Poppins-Medium.ttf");
    src: url("../assets/font/Poppins-Bold.ttf");

}

@import "tailwindcss";

@theme {
    --font-global: global, "sans-serif"
}

@font-face {
    font-family: "poppins";
    src: url("./font/Poppins-Regular.ttf"),
        url("./font/Poppins-Medium.ttf"),
        url("./font/Poppins-Bold.ttf"); 
    font-style: normal;
}